{% extends 'base.html.twig' %}

{% block title %}Inscription | {{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <section class="py-32 sm:mx-auto w-full sm:max-w-xl">
        <div class="max-w-xl mb-10 sm:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
            <img src="{{ asset('images/website/logo.svg') }}" alt="Logo website" class="mb-4 h-28 mx-auto">
            <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl sm:mx-auto">
                    <span class="relative inline-block">
                        <span class="relative">Inscription</span>
                    </span>
            </h2>
        </div>

        {{ form_start(registrationForm) }}
        <div class="grid gap-2">
            {{ form_label(registrationForm.email, "Email") }}
            {{ form_widget(registrationForm.email) }}
            <small>{{ form_help(registrationForm.email) }}</small>
        </div>
        <div class="grid gap-2">
            {{ form_label(registrationForm.plainPassword, "Mot de passe") }}
            {{ form_widget(registrationForm.plainPassword) }}
            <small>{{ form_help(registrationForm.plainPassword) }}</small>
        </div>
        <div class="grid gap-2">
            <div>
                <button type="submit" class="btn btn-primary">Inscription</button>
            </div>
        </div>
        <div class="grid gap-2">
            <p>Déjà inscrit ? <a href="{{ path('app_login') }}" class="btn btn-secondary">Connectez-vous !</a></p>
        </div>
        {{ form_end(registrationForm) }}

    </section>
{% endblock %}
