{{ form_start(form, {'attr': {'class': 'grid gap-6 max-w-xl mx-auto'}}) }}

<div class="grid gap-2">
    {{ form_label(form.icon, "Icône de la catégorie", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.icon, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>

<div class="grid gap-2">
    {{ form_label(form.colorText, "Couleur de la catégorie", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.colorText, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>

<div class="grid gap-2">
    {{ form_label(form.colorBackground, "Couleur de fond", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.colorBackground, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>

<div class="grid gap-2">
    {{ form_label(form.name, "Nom de la catégorie", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>

<div class="grid gap-2">
    {{ form_label(form.chapo, "Description de la catégorie", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.chapo, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>

<div class="flex">
    <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
    <a class="btn btn-secondary" href="{{ path('category_index') }}">Retour</a>
</div>
{{ form_end(form) }}
