{% extends 'base.html.twig' %}

{% block title %}Admin Logs | {{ parent() }}{% endblock %}

{% block body %}
    <section class="pt-32 grid gap-8">
        <h1 class="text-2xl text-gray-800 font-bold sm:text-center">Admin Logs</h1>
        <div class="sm:flex sm:justify-center space-y-4 sm:space-y-0 sm:space-x-4 flex-wrap">
            <a class="btn btn-primary" href="{{ path('log_new') }}">Créer Log</a>
            <a class="btn btn-primary" href="{{ path('admin_index') }}">Admin</a>
        </div>

        <div class="w-full overflow-hidden shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
                        <th class="px-4 py-3">ID</th>
                        <th class="px-4 py-3">Version</th>
                        <th class="px-4 py-3">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y">
                    {% for log in logs %}
                        <tr class="text-gray-700">
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <div>
                                        <p class="font-semibold">{{ log.id }}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <span class="bg-amber-100 text-gray-600 rounded-lg px-2 py-0.5">{{ log.version }}</span>
                            </td>
                            <td class="px-4 py-3">
                                <div class="flex items-center space-x-4 text-sm">
                                    <a href="#"
                                       class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                                       aria-label="Editer">
                                        <i class="ph-pencil text-xl text-custom-400"></i>
                                    </a>
                                    {{ include('log/includes/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <nav class="flex items-center justify-center">
            {{ knp_pagination_render(logs) }}
        </nav>
    </section>
{% endblock %}

