<nav class="py-5 max-w-7xl w-full fixed z-50 transform left-1/2 -translate-x-1/2 px-4 md:px-24 lg:px-8 bg-white">
    <div class="relative flex items-center justify-between">
        <div class="flex items-center">
            <a href="/" aria-label="Company" title="Company" class="inline-flex items-center mr-8">
                <img class="h-8 w-8" src="{{ asset('images/website/logo.svg') }}" alt="">
                <span class="ml-2 text-xl font-bold tracking-wide text-gray-800 uppercase">XIPEL</span>
            </a>
            <ul class="flex items-center hidden space-x-8 lg:flex">
                <li>
                    <a href="{{ path('home') }}" aria-label="Our product" title="Accueil"
                       class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-custom-400">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('article_index') }}" aria-label="Our product" title="Articles"
                       class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-custom-400">Articles</a>
                </li>
                <li>
                    <a href="{{ path('category_index') }}" aria-label="Product pricing" title="Catégories"
                       class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-custom-400">Catégories</a>
                </li>
                <li>
                    <a href="{{ path('contact') }}" aria-label="Product pricing" title="Contact"
                       class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-custom-400">Contact</a>
                </li>
                <!--
                <li><a href="/" aria-label="About us" title="About us"
                       class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-custom-400">About
                        us</a></li>
                -->
            </ul>
        </div>
        {% if app.user %}
            <ul class="flex items-center hidden space-x-8 lg:flex">
                <a href="#">Profil ici</a>
            </ul>
        {% else %}
            <ul class="flex items-center hidden space-x-8 lg:flex">
                <li>
                    <a href="{{ path('app_login') }}" aria-label="Connexion" title="Connexion"
                       class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-custom-400">Connexion
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_register') }}"
                       class="inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-custom-400 hover:bg-custom-700 focus:shadow-outline focus:outline-none"
                       aria-label="Inscription"
                       title="Inscription">
                        Inscription
                    </a>
                </li>
            </ul>
        {% endif %}

        <!-- Mobile menu -->
        <div class="lg:hidden">
            <button aria-label="Open Menu" title="Open Menu" id="burgerButton"
                    class="p-2 -mr-1 transition duration-200 rounded-lg focus:outline-none focus:shadow-outline hover:bg-custom-50 focus:bg-custom-50 flex items-center">
                <i class="text-4xl text-gray-600 ph-squares-four"></i>
            </button>

            <button aria-label="Close Menu" title="Close Menu" id="closeButton"
                    class="hidden p-2 -mr-1 transition duration-200 rounded-lg hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline flex items-center">
                <i class="text-4xl text-gray-600 ph-x-square"></i>
            </button>

            <div class="hidden grid grid-cols-2 sm:grid-cols-4 gap-y-4 absolute top-16 left-0 w-full p-4 bg-white border rounded-lg"
                 id="mobileMenu">

                <a href="/"
                   class="flex flex-col items-center justify-center text-gray-600 uppercase hover:bg-gray-200 py-2 rounded-lg transition duration-300">
                    <i class="text-4xl text-custom-500 ph-house-line"></i>
                    <span class="text-xs font-semibold">Accueil</span>
                </a>
                <a href="{{ path('article_index') }}"
                   class="flex flex-col items-center justify-center text-gray-600 uppercase hover:bg-gray-200 py-2 rounded-lg transition duration-300">
                    <i class="text-4xl text-custom-500 ph-books"></i>
                    <span class="text-xs font-semibold">Articles</span>
                </a>
                <a href="/"
                   class="flex flex-col items-center justify-center text-gray-600 uppercase hover:bg-gray-200 py-2 rounded-lg transition duration-300">
                    <i class="text-4xl text-custom-600 ph-user"></i>
                    <span class="text-xs font-semibold">Profil</span>
                </a>
                <a href="{{ path('contact') }}"
                   class="flex flex-col items-center justify-center text-gray-600 uppercase hover:bg-gray-200 py-2 rounded-lg transition duration-300">
                    <i class="text-4xl text-custom-600 ph-envelope"></i>
                    <span class="text-xs font-semibold">Contact</span>
                </a>
                <a href="{{ path('log_index') }}"
                   class="flex flex-col items-center justify-center text-gray-600 uppercase hover:bg-gray-200 py-2 rounded-lg transition duration-300">
                    <i class="text-4xl text-custom-600 ph-gear"></i>
                    <span class="text-xs font-semibold">Updates</span>
                </a>
                <a href="{{ path('category_index') }}"
                   class="flex flex-col items-center justify-center text-gray-600 uppercase hover:bg-gray-200 py-2 rounded-lg transition duration-300">
                    <i class="text-4xl text-custom-600 ph-folder-open"></i>
                    <span class="text-xs font-semibold">Catégories</span>
                </a>
            </div>
        </div>
    </div>
</nav>