{% for article in articles %}
    <div class="p-8 bg-white border rounded shadow-sm hover:shadow-lg transition duration-300">
        <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
            <a href="{{ path('category_show', {id: article.category.id } ) }}"
               class="tag text-{{ article.category.colorText }}-600 bg-{{ article.category.colorBackground }}-100"
               aria-label="Catégorie">{{ article.category }}</a>
            <span class="text-gray-600">— {{ article.updatedAt|format_datetime(pattern="dd MMMM YYYY", locale='fr') }}</span>
        </p>
        <a href="/" aria-label="Article" title="{{ article.title }}"
           class="inline-block mb-3 text-2xl font-bold leading-5 text-black transition-colors duration-200 hover:text-custom-500">{{ article.title }}</a>
        <p class="mb-5 text-gray-700">{{ article.chapo }}</p>
        <div class="flex items-center">
            <a href="/" aria-label="Author" title="Author" class="mr-3">
                <img src="{{ asset('images/website/LeZellus-avatar.svg') }}"
                     alt="avatar" class="object-cover w-10 h-10 rounded-full shadow-sm"/>
            </a>
            <div>
                <a href="/" aria-label="Author" title="Author"
                   class="font-semibold text-gray-800 transition-colors duration-200 hover:text-custom-accent-400">LeZellus</a>
                <p class="text-sm font-medium leading-4 text-gray-600">Administrateur</p>
            </div>
        </div>
    </div>
{% endfor %}
