{{ form_start(formProfilUserThumb, {'attr': {'class': 'w-full'}}) }}
<div class="bg-gray-50 px-4 sm:px-6 py-4 sm:grid sm:grid-cols-2 items-center sm:gap-4">
    {{ form_label(formProfilUserThumb.profilThumb) }}
    {{ form_widget(formProfilUserThumb.profilThumb) }}
</div>

<div class="flex justify-end p-4">
    {{ form_row(formProfilUserThumb.submit, { 'label': 'Enregistrer', 'class': 'btn btn-primary'}) }}
</div>
{{ form_end(formProfilUserThumb) }}