{{ form_start(form, {'attr': {'class': 'grid gap-6'}}) }}
<div class="grid gap-2">
    {{ form_label(form.title, "Titre", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.title, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
    <small>{{ form_help(form.title, {'help_attr': {'class': 'text-red-400'}}) }}</small>
</div>

<div class="grid gap-2">
    {{ form_label(form.chapo, "Description", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.chapo, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
    <small>{{ form_help(form.title, {'help_attr': {'class': 'text-red-400'}}) }}</small>
</div>

<div class="grid gap-2">
    {{ form_label(form.content, "Contenu", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.content, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md editor'}}) }}
</div>
<div class="flex">
    <button class="btn-primary">{{ button_label|default('Créer') }}</button>
    <a class="btn-secondary" href="{{ path('article_index') }}">Retour</a>
</div>
{{ form_end(form) }}
