{{ form_start(form, {'attr': {'class': 'grid gap-6'}}) }}
{# Si la route est "articles_edit on affiche les images #}
{% if app.request.attributes.get('_route') == 'article_edit' %}
    <span class="block text-sm font-medium text-gray-700">Images</span>
    <section class="grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
        {% for attachment in article.attachments %}
            <div class="relative rounded-lg overflow-hidden">
                <img class="w-full max-h-40 object-cover object-center" src="{{ asset('/uploads/'~attachment.name) }}" alt="">

                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                <a class="bg-red-100 absolute right-2 top-2 flex items-center rounded-lg p-2 transition duration-300 hover:bg-red-200 group" href="{{ path('article_delete_attachment', {id: attachment.id}) }}" data-delete
                   data-token="{{ csrf_token('delete' ~ attachment.id ) }}"><i class="text-3xl text-red-600 ph-trash transition duration-300 group-hover:text-red-700"></i></a>
            </div>
        {% endfor %}
    </section>
{% endif %}

<div class="grid gap-2">
    {{ form_label(form.attachment, "Titre", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.attachment, {'attr': {'class': 'mt-1 block w-full sm:text-sm'}}) }}
    <small>{{ form_help(form.attachment, {'help_attr': {'class': 'text-gray-400'}}) }}</small>
</div>

<div class="grid gap-2">
    {{ form_label(form.title, "Titre", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.title, {'attr': {'class': 'mt-1 focus:ring-custom-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg'}}) }}
    <small>{{ form_help(form.title, {'help_attr': {'class': 'text-gray-400'}}) }}</small>
</div>

<div class="grid gap-2">
    {{ form_label(form.chapo, "Description", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.chapo, {'attr': {'class': 'mt-1 focus:ring-custom-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg'}}) }}
    <small>{{ form_help(form.chapo, {'help_attr': {'class': 'text-gray-400'}}) }}</small>
</div>

<div class="grid gap-2">
    {{ form_label(form.content, "Contenu", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.content, {'attr': {'class': 'mt-1 focus:ring-custom-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg'}}) }}
</div>

<div class="grid gap-2">
    {{ form_label(form.category, "Catégorie", {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
    {{ form_widget(form.category, {'attr': {'class': 'mt-1 focus:ring-custom-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg'}}) }}
</div>

<div class="flex">
    <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
    <a class="btn btn-secondary" href="{{ path('article_index') }}">Retour</a>
</div>
{{ form_end(form) }}
