{% extends 'base.html.twig' %}

{% block title %}Articles | {{ parent() }}{% endblock %}

{% block body %}
    <section class="min-h-screen pt-32">
        <div class="max-w-xl mb-10 sm:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
            <div>
                <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-custom-900 uppercase rounded-full bg-custom-accent-200">
                    Lecture
                </p>
            </div>
            <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl sm:mx-auto">
                    <span class="relative inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#d1d5db"
                             class="absolute -top-1/2 left-1/2 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block"
                             viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none"></rect>
                            <rect x="40" y="40"
                                  width="48"
                                  height="176"
                                  rx="8"
                                  stroke-width="16"
                                  stroke="#d1d5db"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  fill="none"></rect>
                            <line x1="40" y1="80" x2="88" y2="80" fill="none" stroke="#d1d5db" stroke-linecap="round"
                                  stroke-linejoin="round" stroke-width="16"></line>
                            <rect x="88" y="40" width="48"
                                  height="176" rx="8"
                                  stroke-width="16"
                                  stroke="#d1d5db"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  fill="none"></rect>
                            <line x1="88" y1="176" x2="136" y2="176" fill="none" stroke="#d1d5db"
                                  stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                            <rect x="158" y="38.58284" width="48" height="176" rx="8"
                                  transform="matrix(0.96593, -0.25882, 0.25882, 0.96593, -26.56055, 51.41827)"
                                  stroke-width="16" stroke="#d1d5db" stroke-linecap="round" stroke-linejoin="round"
                                  fill="none"></rect>
                            <line x1="171.24109" y1="179.15894" x2="217.60553" y2="166.73563"
                                  fill="none" stroke="#d1d5db" stroke-linecap="round"
                                  stroke-linejoin="round" stroke-width="16"></line>
                            <line x1="146.39447" y1="86.43006" x2="192.75891" y2="74.00675" fill="none"
                                  stroke="#d1d5db" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="16"></line>
                        </svg>
                        <span class="relative">Tous</span>
                    </span>
                les articles
            </h2>
            <p class="text-base text-gray-700 md:text-lg">
                Tout les articles et leur catégorie
            </p>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary mt-8" href="{{ path('article_new') }}">Ajouter un article</a>
            {% endif %}
        </div>
        <div class="grid gap-12 md:grid-cols-2 lg:grid-cols-4" id="fourthSection">
            {% for article in articles %}
                <div class="flex">
                    <div class="pt-1 mr-6 text-center">
                        <div class="px-2 pb-1 mb-1 border-b border-gray-400">
                            <p class="text-sm text-blue-gray-700">{{ article.createdAt|date("M", "Europe/Paris") }}</p>
                        </div>
                        <div class="px-2"><p
                                    class="text-lg font-bold">{{ article.updatedAt|date("d", "Europe/Paris") }}</p>
                        </div>
                    </div>
                    <div>
                        <div class="mb-2">
                            <a href="/"
                               class="text-xs rounded-lg py-0.5 px-2  font-semibold tracking-wide uppercase transition-colors duration-200 text-{{ article.category.colorText }}-700 bg-{{ article.category.colorBackground }}-200"
                               aria-label="Category"
                               title="{{ article.category.name }}">{{ article.category.name ? article.category.name : 'Aucune catégorie' }}</a>
                        </div>
                        <div class="mb-2">
                            <a href="{{ path('article_show', {'id': article.id}) }}" aria-label="Article"
                               class="inline-block text-2xl font-bold leading-5 text-black transition-colors duration-200 hover:text-custom-400">{{ article.title }}</a>
                        </div>
                        <p class="mb-5 text-gray-700">{{ article.chapo }}</p>
                        <div class="flex items-center">
                            <a href="/" aria-label="Author" title="Author" class="mr-3">
                                <img src="{{ asset('images/website/LeZellus-avatar.svg') }}"
                                     alt="avatar" class="object-cover w-10 h-10 rounded-full shadow-sm"/>
                            </a>
                            <div>
                                <a href="/" aria-label="Author" title="Author"
                                   class="font-semibold text-gray-800 transition-colors duration-200 hover:text-custom-400">LeZellus</a>
                                <p class="text-sm font-medium leading-4 text-gray-600">Administrateur</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="flex justify-center mt-8">
            {{ knp_pagination_render(articles) }}
        </div>
    </section>
{% endblock %}
